html, body {
    height: 100%;
    background-color: #6d6875;
}
#header{
    width: 100%;
    height: 45%;
    background-color: #b5838d;
    margin-bottom: 10px;
}

.button {
    display: inline-flex;
    height: 40px;
    width: 170px;
    border: 2px solid #ffcdb2;
    margin: 20px 20px 20px 20px;
    color: #ffcdb2;
    text-transform: uppercase;
    text-decoration: none;
    font-size: .8em;
    letter-spacing: 1.5px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

a {
    color: #ffcdb2;
    text-decoration: none;
    letter-spacing: 1px;
}

#but {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

#but a {
    position: relative;
    transition: all .45s ease-Out;
}

#underline {
    width: 100%;
    height: 2.5px;
    margin-top: 15px;
    align-self: flex-end;
    left: -200px;
    background: #ffcdb2;
    position: absolute;
    transition: all .3s ease-Out;
    bottom: 0;
}

#but:hover #underline {
    left: 0;

}

h1 {
    font-size: 100px;
    text-transform: uppercase;
    font-family: 'Gambetta', serif;
    letter-spacing: -8px;
    transition: 800ms ease;
    font-variation-settings: "wght" 311;
    margin-bottom: 0.8rem;
    color: #6d6875;
    outline: none;
}
h1:hover {
    font-variation-settings: "wght" 582;
    letter-spacing: 1px;
}
div.esh {
    height: 10em;
    position: relative }
div.esh h1 {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

